.tips{

}
.tips p{
    text-align: center;
    padding: 1rem;
    margin: 0;
}
.btn li{
    padding: 1rem;
    width:90%;
}
.btn a{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 60%;
}